
//商品列表页
.product-list-wrap{
  height 100%
  bg(#fff)
  .header{
    border-bottom 1PX solid #EDEDED
    position fixed
    left 0
    top 0
    width 100%
    bg(#fff)
    z-index 1
  }
  .brand-head{
    .filter-bar{
      li:first-child{
        span{
          c-3()
          font-weight 600
        }
        i{
          transform rotate(180deg)
        }
      }
    }
  }
  .state-head{
    .filter-bar{
      li:last-child{
        span{
          c-3()
          font-weight 600
        }
        i{
          transform rotate(180deg)
        }
      }
    }
  }
  .brand-head,.state-head{
    z-index 9
  }
  .content{
    padding 198px 0 98px
    height 100%
    bg(#f6f6f6)
    .product-list-scroll{
      height 100%
      .list-column{
        bg(#fff)
      }
    }
  }
}
.search-bar{
  padding 14px 24px
  input{
    outline none
    width 100%
    bg(#F6F6F6)
    h(72)
    lh(72)
    ft(28)
    c(#888)
    text-c()
  }
}
.filter-bar{
  lh(98)
  ft(30)
  c-6()
  flex-center()
  li{
    width 50%
    flex-center()
    i{
      w(24)
      h(14)
      ml(12)
      background-image url(../../../assets/images/filter_arrow_icon.png)
      background-size contain
      background-repeat no-repeat
      background-position center
      transition all 0.2s
    }
  }
}
.footer{
  position fixed
  width 100%
  left 0
  bottom 0
  flex-center()
  padding 16px 24px
  border-top 1PX solid #EDEDED
  bg(#fff)
  .f-select{
    flex()
    i{
      w(40)
      h(40)
      background-image url(../../../assets/images/icon-check.png)
      background-size contain
      background-repeat no-repeat
      background-position center
      mr(24)
    }
    .selected{
      background-image url(../../../assets/images/icon-checked.png)
    }
    span{
      ft(30)
      c-3()
    }
  }
  .f-oprate{
    flex-1()
    flex()
    justify-content flex-end
    align-items center
    span{
      lh(64)
      w(160)
      ml(24)
      text-c()
    }
    .button{
      ft(28)
      c-6()
      border 1PX solid #DDDDDD
      border-radius 8px
    }
    .shelves{
      border 1PX solid #FF5638
      c(#FF5638)
    }
  }
}
.fixed-wrap{
  position fixed
  right 32px
  bottom 160px
  z-index 99
  .fixed-add{
    w(130)
    h(130)
    background-image url(../../../assets/images/manage_add_icon.png)
    background-size contain
    background-repeat no-repeat
    background-position center
    transform rotate(45deg)
    transition all 0.2s
  }
  .trans-rotate{
    transform rotate(0deg)
  }
  .pop-up-layer{
    position absolute
    right 0
    top -190px
    bg(#fff)
    border-radius 10px
    w(340)
    flex()
    flex-direction column
    span{
      lh(90)
      text-c()
      ft(30)
      c-3()
    }
    span:first-child{
      border-bottom 1PX solid #F2F2F2
    }
  }
}
.mask-layer{
  position absolute
  left 0
  bottom 0
  width 100%
  height 100%
  background rgba(0,0,0,0.4)
  z-index 2
}

.column-wrap{
  padding 24px 24px 0
  .column-list{
    flex()
    align-items center
    justify-content flex-start
    flex-wrap wrap
    li{
      width 31%
      lh(64)
      text-c()
      mb(24)
      bg(#F6F6F6)
      ft(28)
      c-6()
      border-radius 10px
      margin-right 3.5%
      &:nth-child(3n+3){
        margin-right 0
      }
    }
    .active{
      bg(#FFEEEB)
      c(#FF5638)
    }
  }
}


//添加自有商品页面
.product-add-wrap{
  .add-column{
    bg(#fff)
    mt(20)
    pl(24)
    ft(30)
    c-6()
    >li{
      lh(90)
      border-bottom 1PX solid #EDEDED
      flex()
      align-items center
      justify-content flex-start
      pr(24)
      span{
        w(150)
      }
      input{
        ml(12)
        lh(70)
        outline none
        flex-1()
        &::-webkit-input-placeholder{
          c(#bdbdbd)
        }
      }
      .price{
        w(240)
        flex-grow inherit !important
      }
    }
  }
  .upload-pic-wrap{
    margin 20px 0
    padding 24px
    bg(#fff)
    flex()
    span{
      ft(30)
      c-6()
      w(150)
    }
    .img-list{
      flex-1()
      flex()
      flex-wrap wrap
      justify-content flex-start
      >li{
        position relative
        img{
          w(160)
          h(160)
          mr(20)
          border-radius 6px
          border 1PX solid #ededed
          box-sizing border-box
        }
        i{
          position absolute
          right 8px
          top -20px
          w(40)
          h(40)
          background-image url(../../../assets/images/close_icon1.png)
          background-size contain
          background-repeat no-repeat
          background-position center
        }
      }
    }
  }
  .product-introduce{
    padding 24px
    bg(#fff)
    flex()
    span{
      ft(30)
      c-6()
      w(150)
    }
    textarea{
      flex-1()
      ml(12)
      border 0px solid transparent
      outline none
      ft(30)
      &::-webkit-textarea-placeholder{
        c(#bdbdbd)
      }
    }
  }
  .confirm{
    position fixed
    width 100%
    left 0
    bottom 0
    lh(98)
    bg(#BDBDBD)
    ft(32)
    c(#fff)
    text-c()
    &.achieve{
      bg(#FF5638)
    }
  }
}


//导入易酒批商品页面
.product-import-wrap{
  bg(#fff)
  height 100%
  .pi-header{
    border-bottom 1PX solid #EDEDED
    position fixed
    left 0
    top 0
    width 100%
    bg(#fff)
    z-index 1
  }
  .pi-content{
    padding  100px 0 98px
    height 100%
    .product-list-scroll{
      height 100%
    }
  }
  .pi-footer{
    position fixed
    left 0
    bottom 0
    width 100%
    pl(24)
    lh(98)
    flex-center()
    border-top 1PX solid #EDEDED
    bg(#fff)
    .f-select{
      flex-center()
      i{
        w(40)
        h(40)
        background-image url(../../../assets/images/icon-check.png)
        background-size contain
        background-repeat no-repeat
        background-position center
        mr(24)
      }
      .selected{
        background-image url(../../../assets/images/icon-checked.png)
      }
      span{
        ft(30)
        c-3()
      }
    }
    .import-btn{
      w(192)
      c(#fff)
      ft(32)
      letter-spacing 1PX
      text-c()
      bg(#FF5638)
    }
  }
}
.empty-product{
  position absolute
  left 50%
  top 50%
  transform translate(-50%,-75%)
  flex()
  align-items center
  flex-direction column
  i{
    w(340)
    h(340)
    background-image url(../../../assets/images/empty_icon_1.png)
    background-size contain
    background-repeat no-repeat
    background-position center
  }
  span{
    ft(30)
    c-9()
  }
}
.product-edit-content{
  mb(118)
}
.set-property{
  mt(20)
  bg(#fff)
  h5{
    bg(#f6f6f6)
    padding 16px 24px
    ft(28)
    c-9()
  }
  .option-list{
    padding 0 24px
    li{
      border-bottom 1PX solid #EDEDED
      ft(30)
      c-3()
      padding 16px 0
      flex()
      align-content center
      justify-content space-between
      span{
        lh(56)
      }
      i{
        w(102)
        h(56)
        background-image url(../../../assets/images/set_close_icon.png)
        background-size contain
        background-repeat no-repeat
        background-position center
        &.open{
          background-image url(../../../assets/images/set_open_icon.png)
          }
      }
    }
  }
  .reward-column{
    padding 0 24px
    lh(90)
    flex()
    ft(30)
    c-3()
    textarea{
      mt(20)
      c-3()
      flex-1()
      ml(10)
      outline none
      border none
      ft(30)
      &::-webkit-textarea-placeholder{
        c(#999)
      }
    }
  }
}