//我的员工列表页面
input{
  outline none
  &::-webkit-input-placeholder{
    c(#999)
  }
}
.search-bar{
  padding 14px 24px
  input{
    width 100%
    bg(#F6F6F6)
    h(72)
    lh(72)
    ft(28)
    c(#333)
    text-c()
  }
}
.customer-list-wrap{
  bg(#fff)
  .cl-footer{
    position fixed
    left 0
    bottom 0
    width 100%
    lh(98)
    bg(#fff)
    ft(32)
    border-top 1PX solid #EDEDED
    c(#FF5638)
    letter-spacing 1PX
    text-c()
  }
}