.single-sku {
  .s-s-img {
    flt();
    squ(150);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .s-s-main {
    ml(175);

    .name {
      ft(29);
      c(#333);
    }

    .price {
      mt(21);
      ft(25);
      c(#333);
    }
  }
}
.multiple-skus {
  .m-s-amount {
    lh(150);
    ft(29);
    c(#333);
    padding: 0 5px 0 19px;
    frt();
  }
}

.m-s-skus {
  h(150);
  mr(100);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  li {
    inline();

    &:nth-last-of-type(1) {
      a {
        mr(0);
      }
    }

    a {
      block();
      mr(21);
      pos(relative);
      squ(150);

      img {
        width: 100%;
        height: 100%;
      }

      span {
        pos(absolute);
        bottom: 0;
        left: 0;
        lh(30);
        h(30);
        width: 100%;
        bg(rgba(0, 0, 0, 0.5));
        ft(23);
        c(#fff);
        text-c();
      }
    }
  }
}