.display-column{
    mb(20)
    bg(#fff)
    position relative
    .dl-t{
      padding 24px
      .dlt-shop{
        h5{
          ft(28)
          c-3()
          mb(4)
        }
        span{
          ft(24)
          c-9()
        }
      }
      .dlt-product{
        mt(20)
        h5{
          ft(32)
          c-3()
          font-weight 600
          mt(8)
        }
        .product-list{
          position relative
          li{
            ft(28)
            c-6()
            mt(8)
            &:nth-of-type(n+3){
              display none
            }
          }
          .growth-btn{
            width 100%
            display inline-block
            mt(8)
            ft(28)
            c(#2C91E2)
          }
          &.list-unfold{
            li{
              display block
            }
          }
        }
      }
    }
    .dl-b{
      border-top 1PX solid #EDEDED
      flex()
      align-content center
      justify-content flex-end
      padding 16px 0
      span{
        mr(24)
        border 1PX solid #DDDDDD
        border-radius 8px
        lh(64)
        w(160)
        text-c()
        ft(28)
        c-3()
        &.red{
          c(#FF5638)
        }
      }
    }
    .dl-state{
      position absolute
      right 24px
      top 24px
      ft(26)
      c(#FF5638)
    }
  }

.manage-display-column{
  bg(#fff)
  mb(20)
  position relative
  .dc-t{
    padding 24px
    .dct-cus{
      h5{
        ft(28)
        c-3()
        mb(4)
      }
      span{
        ft(24)
        c-9()
      }
    }
    .dct-target{
      mt(20)
      h5{
        ft(32)
        c-3()
        font-weight 600
        mt(8)
      }
      .product-list{
        position relative
        li{
          ft(28)
          c-6()
          mt(8)
          &:nth-of-type(n+3){
            display none
          }
        }
        .growth-btn{
          width 100%
          display inline-block
          mt(8)
          ft(28)
          c(#2C91E2)
        }
        &.list-unfold{
          li{
            display block
          }
        }
      }
    }
  }
  .dc-b{
    border-top 1PX solid #EDEDED
    flex()
    align-content center
    justify-content flex-end
    padding 16px 0
    span{
      mr(24)
      border 1PX solid #DDDDDD
      border-radius 8px
      lh(64)
      w(160)
      text-c()
      ft(28)
      c-3()
      &.red{
        bg(#FF5638)
        c(#fff)
        border none
      }
    }
  }
  .dc-state{
    position absolute
    right 24px
    top 24px
    ft(26)
    c(#FF5638)
  }
}