/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline
  font-style normal

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  line-height: 1

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

li
  list-style: none

body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
textarea{
  font-family: inherit;
}
 #app{
 	width:100%;
 	height:100%;
 	overflow-x:hidden;
 	overflow-y:auto;
 }
 /*通用*/
 html, body{
  width 100%
  height 100%
}

body{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background : $background-base
}

*{
	box-sizing border-box
}

.fb{
  font-weight: bold;
}
.flt {
  float: left;
}
.frt {
  float: right;
}
.clr {
  clear: both;
}
.block-center {
  display: block;
}
.pre {
  position: relative;
}
.c-w {
  color: #fff;
}
.c-b {
  color: #000;
}
.c-9 {
  color: #999;
}
.c-6 {
  color: #666;
}
.c-3 {
  color: #333;
}
.c-w-i {
  color: #fff ! important;
}
.c-b-i {
  color: #000 ! important;
}
.c-9-i {
  color: #999 ! important;
}
.c-6-i {
  color: #666 ! important;
}
.c-3-i {
  color: #333 ! important;
}
.c-yellow, .c-theme{
 c(#FF5500)
}
.fz38{
	ft(38)
}
.fz28{
	ft(28)
}
.fz30{
  ft(30)
}
.fz32{
  ft(32)
}
.fz26{
  ft(26)
}
.fz24{
  ft(24)
}
.ml8{
  ml(8)
}
.pt90{
  pt(90)  
}
.t-c {
  text-align: center;
}
.l-c {
  vertical-align: middle;
}
.bz-bb {
  box-sizing: border-box;
}
.bz-cb {
  box-sizing: content-box;
}
.bg-w{
    background: #FFFFFF;
}
.clearfix:after{
	clear: both;
	display: block;
	content: "...";
	visibility: hidden;
	height: 0;
	font-size: 0;
 }
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.letter-p1{
  letter-spacing 1PX
}
.upload-wrap{
  .el-upload--picture-card{
    w(160)
    h(160)
    background-image url(../images/input_upload_icon.png)
    background-size contain
    background-repeat no-repeat
    background-position center
    border none
  }
  .el-upload-list{
    display none
    li{
      w(160)
      h(160)
    }
  }
  .el-upload-list__item-actions{
    display none
  }
  .el-progress-circle{
    width 140px !important
    height 140px !important
  }
  .el-progress{
    width 140px !important
  }
}
.upload-wrap-large{
  width 100%
  height 100%
  .el-upload--picture-card{
    width 100%
    h(335)
    background-image url(../images/input_upload_icon.png)
    background-size contain
    background-repeat no-repeat
    background-position center
    border none
  }
  .el-upload-list{
    display none
    li{
      w(160)
      h(160)
    }
  }
  .el-upload-list__item-actions{
    display none
  }
  .el-progress-circle{
    width 140px !important
    height 140px !important
  }
  .el-progress{
    width 140px !important
  }
  input{
    width 100%
    height 100%
  }
}
.date-pick-wrap{
  input{
    outline none
    border none
    ft(30)
    c-3()
    height 100%
  }
  .el-input__prefix,.el-input__suffix{
    display none
  }
}
.el-date-picker{
  width 100% !important
  .el-picker-panel__content{
    width auto !important
  }
}
.el-date-table td div{
  height 32px !important
}
.el-date-table td span{
  ft(28)
  padding 4PX 2PX
  height auto !important
  width auto !important
}
.el-date-picker__header-label{
  font-size 30px !important
}
.el-date-table th{
  ft(28)
}
.el-picker-panel__icon-btn{
  font-size 28px !important
}

.empty-icon{
  pt(250)
  bg(#F6F6F6)
  flex()
  align-items center
  flex-direction column
  i{
    w(340)
    h(340)
    background-image url(../images/empty_icon_1.png)
    background-size contain
    background-repeat no-repeat
    background-position center
  }
  span{
    ft(30)
    c-9()
  }
}