// 颜色定义规范    css预处理 
$color-theme = #FF5638 //变量
$color-price = #FF5500
$background-base = rgba(246,246,246,1);

//
w(x){  //函数    stylus-loader   
  width : unit(arguments, 'px')     
}
h(x){
  height: unit(arguments, 'px')    
}
ft(){
   font-size unit(arguments, 'px')
}
lh(){
    line-height unit(arguments, 'px')
}
c(){
    color arguments
}
bg(){
    background arguments
}
pos(){
    position arguments
}
block(){
    display block
}
inline(){
    display inline-block
}
hide(){
    display none
}
mt(x){
    margin-top: unit(x, 'px')
}
mb(x){
    margin-bottom: unit(x, 'px')
}
mr(x){
    margin-right: unit(x, 'px')
}
ml(x){
    margin-left: unit(x, 'px')
}
pt(x){
    padding-top  unit(x, 'px')
}
pl(x){
    padding-left  unit(x, 'px')
}
pr(x){
    padding-right  unit(x, 'px')
}
pb(x){
    padding-bottom  unit(x, 'px')
}
mauto(x){
    margin: 0 unit(x, 'px')
}
fb(){
    font-weight: bold;
}
text-c(){
    text-align center
}
squ(x){
    width: unit(x, 'px')
    height : unit(x, 'px')
}
box(){
    box-sizing border-box
}
radius(){
     border-radius unit(arguments, 'px')
}
flex(){
    display: flex;
}
flex-1(){
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
flex-center(){
   display: flex;
   justify-content: center;
   align-items: center;
}
b1(x){
    border 1PX solid x
}
omit(){
    text-overflow :ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
vm(){
    vertical-align: middle
}
flt(){
    float left
}
frt(){
    float right
}

