.product-wrap{
  flex-center()
  padding 24px
  position relative
  &:before{
    content ""
    position absolute
    bottom 0
    left 35%
    height 1PX
    width 100%
    bg(#EDEDED)
  }
  .pw-l{
    span{
      inline()
      w(40)
      h(40)
      background-image url(../../assets/images/icon-check.png)
      background-size contain
      background-repeat no-repeat
      background-position center
    }
    .selected{
      background-image url(../../assets/images/icon-checked.png)
    }
  }
  .pw-r{
    flex-1()
    flex()
    flex-direction column
    .product-content{
      flex()
    }
    .product-option{
      ml(214)
      pt(16)
      flex()
      align-content center
      span{
        background rgba(100,102,116,0.1)
        border-radius 4px
        ft(22)
        c(#646674)
        mr(16)
        padding 2px 12px
      }
    }
    .product-pic{
      w(166)
      h(166)
      bg(#fff)
      min-width 166px
      margin 0 24px
      flex-center()
      img{
        w(166)
        h(166)
        margin auto
      }
    }
    .product-info{
      h(166)
      flex-1()
      flex()
      flex-direction column
      .name{
        ft(32)
        c-3()
        font-weight 600
        flex()
        align-items center
        span{
          text-overflow-1()
        }
        i{
          bg(#FFBD38)
          ft(22)
          c(#fff)
          border-radius 4px
          padding 0 8px
          mr(12)
          lh(34)
          word-break keep-all
        }
      }
      .spec{
        ft(26)
        c-9()
        mt(6)
      }
      .price{
        ft(32)
        c(#FF5638)
        font-weight 600
        span{
          ft(24)
          ml(8)
        }
      }
      .grama{
        ft(26)
        c-9()
        mt(8)
        flex-center()
        .brand{
          flex-1()
        }
        .state{
          flex-center()
          i{
            padding 0 3PX
            border-radius 4px
            c(#fff)
            ft(24)
            ml(6)
            &.s-success{
              bg(#FF5638)
            }
            &.s-fail{
              bg(#BDBDBD)
            }
          }
        }
      }
    }
    .product-info-small{
      h(126)
      flex()
      flex-direction column
      .name{
        ft(30)
        c-3()
        text-overflow-1()
      }
      .spec{
        ft(26)
        c-9()
        mt(8)
        .price{
          ml(18)
          c(#FF5638)
          ft(26)
        }
      }
    }
    .product-pic-normal{
      ml(24)
      w(120)
      h(120)
      border-radius 6px
      img{
        w(120)
        h(120)
      }
    }
  }
}
.product-wrap-noraml{
  flex-center()
  padding 0 24px
  mt(24)
  .pw-l{
      span{
        inline()
        w(40)
        h(40)
        background-image url(../../assets/images/icon-check.png)
        background-size contain
        background-repeat no-repeat
        background-position center
      }
      .selected{
        background-image url(../../assets/images/icon-checked.png)
      }
    }
  .pw-r{
    flex-1()
    flex()
    flex-direction row
    .product-pic{
      w(166)
      h(166)
      bg(#fff)
      min-width 166px
      margin 0 24px
      flex-center()
      img{
        w(166)
        h(166)
        margin auto
      }
    }
    .product-info-normal{
      flex-1()
      flex()
      flex-direction column
      .name{
        ft(30)
        c-3()
        font-weight 600
        text-overflow-2()
      }
    }
    .product-pic-normal{
      ml(24)
      mr(24)
      w(120)
      h(120)
      border-radius 6px
      img{
        w(120)
        h(120)
      }
    }
  }
}
.s-success{
  background #FF5638 !important
}
.s-fail{
  background #BDBDBD !important
}