.product-wrap{
  flex-center()
  padding 24px
  position relative
  &:before{
    content ""
    position absolute
    bottom 0
    left 35%
    h(1)
    width 100%
    bg(#EDEDED)
  }
  .pw-l{
    span{
      inline()
      w(40)
      h(40)
      background-image url(../../assets/images/icon-check.png)
      background-size contain
      background-repeat no-repeat
      background-position center
    }
    .selected{
      background-image url(../../assets/images/icon-checked.png)
    }
  }
  .pw-r{
    flex-1()
    flex()
    .product-pic{
      w(166)
      h(166)
      bg(#F6F6F6)
      min-width 166px
      margin 0 24px
      flex-center()
      img{
        w(143)
        h(143)
        margin auto
      }
    }
    .product-info{
      h(166)
      flex-1()
      flex()
      flex-direction column
      .name{
        ft(32)
        c-3()
        font-weight 600
        flex()
        align-items center
        span{
          text-overflow-1()
        }
        i{
          bg(#FF5638)
          ft(22)
          c(#fff)
          border-radius 4px
          padding 0 8px
          mr(12)
          lh(34)
          word-break keep-all
        }
      }
      .spec{
        ft(26)
        c-9()
        mt(6)
      }
      .price{
        ft(32)
        c(#FF5638)
        font-weight 600
        span{
          ft(24)
          ml(8)
        }
      }
      .grama{
        ft(26)
        c-9()
        mt(8)
        flex-center()
        .brand{
          flex-1()
        }
        .state{
          flex-center()
          i{
            padding 0 3PX
            border-radius 4px
            c(#fff)
            ft(24)
            ml(6)
            &.s-success{
              bg(#FF5638)
            }
            &.s-fail{
              bg(#BDBDBD)
            }
          }
        }
      }
    }
    .product-pic-small{
      w(126)
      h(126)
      bg(#F6F6F6)
      margin 0 24px
      flex-center()
      img{
        w(108)
        h(108)
        margin auto
      }
    }
    .product-info-small{
      h(126)
      flex()
      flex-direction column
      .name{
        ft(30)
        c-3()
        text-overflow-1()
      }
      .spec{
        ft(26)
        c-9()
        mt(8)
        .price{
          ml(18)
          c(#FF5638)
          ft(26)
        }
      }
    }
  }
}
.s-success{
  background #FF5638 !important
}
.s-fail{
  background #BDBDBD !important
}